.App {
  text-align: center;
}

.slider {

  height: 500px;
  background-size: cover;
  background-position: center;
  background-image: url('../public/img/bg.jpg');

}

.start {

  transform: scale(0) translateX(-150px);

}

.end {

  transform: scale(1) translateX(0);
  transition: all 0.5s;

}

